<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
				<key>dateExpires</key>
				<string>5/13/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libcrypto.1.1.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libffi.6.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgcrypt.20.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgio-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libglib-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgmodule-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgobject-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgpg-error.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstallocators-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstapp-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstaudio-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstbase-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstcheck-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstcontroller-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstfft-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstnet-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstpbutils-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstreamer-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstriff-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstrtp-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstrtsp-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstsdp-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgsttag-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgstvideo-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libgthread-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libiconv.2.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libintl.8.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libjpeg.62.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libjson-glib-1.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libopus.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libphodav-2.0.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libpixman-1.0.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libpng16.16.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-img.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-aarch64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-alpha.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-arm.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-cris.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-hppa.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-i386.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-lm32.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-m68k.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-microblaze.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-microblazeel.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-mips.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-mips64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-mips64el.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-mipsel.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-moxie.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-nios2.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-or1k.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-ppc.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-ppc64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-riscv32.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-riscv64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-s390x.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-sh4.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-sh4eb.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-sparc.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-sparc64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-tricore.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-unicore32.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-x86_64.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-xtensa.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libqemu-system-xtensaeb.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libspice-client-glib-2.0.8.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libspice-server.1.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC051334C3C52DEEBA24DBA313DD2282D42B9875</string>
						<key>dateExpires</key>
						<string>5/13/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libssl.1.1.utm.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BV6J54P25</string>
						<key>name</key>
						<string>Alexandre Martinez</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>UTM.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4BV6J54P25</string>
				<key>name</key>
				<string>Alexandre Martinez</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
