<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/1cwQAI4bMi_CjYhiNcXThQzwsB1wlZhnV/view?usp=sharing</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/10fuAB37zQ6R--Y1yGlkGEtiOXWhxEqee/view?usp=sharing</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/1hHxoY3Q8k_m6MBWHTDJRB9e_snm9fENT/view?usp=sharing</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.alexm8002.UTM.Beta</string>
				<key>bundle-version</key>
				<string>2.0b4</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>UTM</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
